[submodule "examples/doc-classifier-data"]
	path = examples/doc-classifier-data
	url = git@github.com:mdibaiee/doc-classifier-data
[submodule "examples/notMNIST"]
	path = examples/notMNIST
	url = git@github.com:mdibaiee/notMNIST
[submodule "examples/blogs-corpus"]
	path = examples/blogs-corpus
	url = git@github.com:mdibaiee/blogs-corpus
